
.space {margin-bottom:10px}

.space-edit {margin-top: 0px; margin-bottom: 0px }

.input-group {  padding-top: 15px
}

#rotationelements {display: inline-block}


.welcomebox {
    background-color: #DD1A32;
       height:364px;
    margin: 0px;

}

#welcometext {
    color:white;
    text-align: center;
}

.vertical-align {
    position:relative;
    top:50%;
    transform:translateY(-50%);
}

.badge {
    background-color: #404041;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #DD1A32;
    color:#DD1A32; 
    background-color:#FFF;
    font-weight: bold;
}

.nav-pills > li > a {
    color: #404041;
}

.navbar-default {
    background-color: #404041;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #DD1A32;
}

form label {
    color:#DD1A32; 
}
.form-control:focus {
    border-color: ;  box-shadow: none; -webkit-box-shadow: none;
} 

.wfx-orange-button { 
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color:#F15924;
    color: white;
}

.wfx-red-button { 
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color:#DD1A32;
    color: white;
}

.wfx-red-button:hover, .wfx-red-button:focus { 
    -moz-border-radius: 15px;
    border-radius: 15px;
    color:#DD1A32;
    border-color:#DD1A32;
    background-color: white;
}

.wfx-blue-button { 
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color:#404041;
    color: white;
}

.wfx-blue-button:hover, .wfx-blue-button:focus  { 
    -moz-border-radius: 15px;
    border-radius: 15px;
    color:#404041;
    border-color:#404041;
    background-color: white;
}



.wfx-button { 
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: black;
}


#rotationtext {
    font-size: 13px;
}

.jumbotron {
    background-color: #DD1A32;
    color:#FFF;
    margin-bottom: 0;
    text-align: center;
}

.navbar {
    background-color: #404041;
    border: 0;
    margin-bottom: 0;
    color: #FFF;
}

.nav.navbar-nav li a {
   color: #fff;
 }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #DD1A32;
    color: #FFFFFF;
}

#fullChart {
    display: none;
}

.modal-title {
    color:  #DD1A32;
}

#fullResChart {
    background-color: blue;
}

.tabs li a.download {background-color:#FF0000;}

.navbar-nav li a {
 line-height: 34px;
}



@media (max-width: 768px) {
  .navbar-brand {
    height: 80px; // Logo will not overhang
  }

  .navbar-toggle {
    margin-top: 25px; // Adjust toggle position
  }
}

.navbar .nav > li > a {
    -webkit-transition: all ease .3s;
       -moz-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
}

.footer {
    padding-bottom: 10px;
    padding-top: 10px;
}
